player-connection-mode=Listen
player-connection-guid=1646515851
player-connection-debug=0
player-connection-project-name=gameOfLuoAndLing
player-connection-ip=192.168.245.1
player-connection-ip=192.168.226.1
player-connection-ip=26.249.252.211
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b3319b92920c41c794cad1aeafef9c68
