player-connection-mode=Listen
player-connection-guid=4143118346
player-connection-debug=0
player-connection-project-name=gameOfLuoAndLing
player-connection-ip=192.168.1.8
player-connection-ip=192.168.245.1
player-connection-ip=192.168.226.1
player-connection-ip=26.249.252.211
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fcc53f7f212e424d935d17e57a3f5f11
